# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# ignore this folders
texts/*
logs/*
.idea/
results/
.ipynb_checkpoints/
notebooks/trees/

# ignore discourse parsing libs
rhetorical-installation/discourse_parse-2.01.tar.gz
rhetorical-installation/gCRF_dist/
rhetorical-installation/PyYAML-3.09/
rhetorical-installation/PyYAML-3.09.tar.gz
rhetorical-installation/._nltk-2.0b9
rhetorical-installation/nltk-2.0b9
rhetorical-installation/nltk-2\.0b9\.tar\.gz
/data/sentic/affectnet/affectnet.csv

external-libs/

\.cache/

edu_dependency_parser/tools/stanford-parser-full-2014-01-04/build\.xml

logs/

edu_dependency_parser/rhetorical-installation/PyYAML-3\.09/

edu_dependency_parser/rhetorical-installation/nltk-2\.0b9/

edu_dependency_parser/rhetorical-installation/gCRF_dist/

edu_dependency_parser/rhetorical-installation/\._nltk-2\.0b9

notebooks/vis/node_modules/

notebooks/vis/

*.cache

aspects/data/embedding/glove\.42B\.300d\.vocab\.pkl

docker/resources/nltk-2\.0b9/

docker/resources/\._nltk-2\.0b9
/aspects/data/embedding/glove.42B.300d.txt
/aspects/data/models/aspects/checkpoints/
