# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# ignore this folders
texts/*
logs/*
results/
backups/*

.idea/
.ipynb_checkpoints/
.vscode/
.cache/
*.cache


aspects/data/embedding/glove\.42B\.300d\.vocab\.pkl
aspects/data/embedding/glove.42B.300d.txt
aspects/data/models/aspects/checkpoints/
aspects/data/semeval/2016/all-entities-and-aspects-with-bert-embeddings\.pkl
aspects/data/models/aspects/model-72eb2ef.h5
aspects/data/models/aspects/logs/*

notebooks/vis/
notebooks/trees/
notebooks/aspect_rules_vectors
notebooks/aspect_rules_model
notebooks/*.xlsx
conceptnet-5.7.0-assertions.csv
/aspects/data/conceptnet/conceptnet-5.7.0-assertions.en-pl.csv
/aspects/data/conceptnet/conceptnet-5.7.0-assertions.pl.csv
/aspects/data/conceptnet/conceptnet-5.7.0-assertions.en.csv
/docker/prodigy_jupyter_lab/prodigy-*.whl
/.local/
/.config/
/.ipython/

.jupyter/
