backoff==1.10.0
altair==4.0.0
Flask==1.0.2
gensim==3.6.0
jellyfish==0.6.1
joblib==0.14.1
jupyter
matplotlib==3.1.2
more-itertools==8.0.2
murmurhash==1.0.2
networkx==2.4
nltk==3.4.5
numpy==1.18.0
pandas==0.25.3
plac==0.9.6
plotly==4.4.1
preshed==3.0.2
PyHamcrest==2.0.2
protobuf==3.11.2
py2cytoscape==.0.7.1
pydot==1.4.1
pytest==5.3.2
python-rake==1.4.5
pyvis==0.1.7.0
requests==2.22.0
scikit-learn==0.20.3
scipy==1.4.1
seaborn==0.9.0
sentencepiece==0.1.85
smart-open==1.9.0
spacy==2.2.0
srsly==0.2.0
streamlit==0.56.0
summa==1.2.0
tensorboard==2.0.2
tensorflow==2.0.0
textblob==0.15.3
toolz==0.10.0
tqdm==4.41.0
visJS2jupyter==0.1.16
