altair==4.0.0
gensim==3.6.0
jellyfish==0.6.1
joblib==0.14.1
jupyter
matplotlib==3.1.2
more-itertools==8.0.2
mlflow==1.11.0
murmurhash
networkx==2.4
nltk==3.4.5
numpy==1.18.0
pandas==0.25.3
plotly==4.4.1
PyHamcrest==2.0.2
protobuf==3.11.2
py2cytoscape==.0.7.1
pydot==1.4.1
pygraphviz==1.6
pytest==5.3.2
python-rake==1.4.5
pyvis==0.1.7.0
requests==2.22.0
seaborn==0.10.0
sentencepiece==0.1.85
smart-open==1.9.0
spacy==2.2.4
streamlit==0.56.0
summa==1.2.0
tensorboard==2.2.0
tensorflow==2.2.0
textblob==0.15.3
toolz==0.10.0
tqdm
