/5.7.0-hierarchical.with.synonyms.en.gt
/5.7.0-hierarchical.without.synonyms.en.gt
/5.7.0-all-relations.with.synonyms.en.gt
/5.7.0-all-relations.without.synonyms.en.gt
/5.7.0-hierarchical.with.synonyms.and.related.to.en.gt
